<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hg.playsure">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@android:drawable/screen_background_light_transparent"
        android:supportsRtl="true"
        android:theme="@style/Theme.PlaySure"
        android:allowClearUserData="true"
        android:usesCleartextTraffic="true">

        <activity android:name=".SplashScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity" />
        <activity
            android:name=".CountDownActivity" />
        <activity
            android:name=".GamesOnCategory" />
        <activity
            android:name=".Screen_three" />
        <activity
            android:name=".Screen_two" />
        <activity
            android:name=".Screen_one" />
        <activity
            android:name=".No_internet" />
        <activity
            android:name=".GameLoader" />

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-3940256099942544~3347511713" />
    </application>

</manifest>